@import url('https://fonts.cdnfonts.com/css/pricedown');
@import url('https://fonts.cdnfonts.com/css/druk-trial');

@font-face {
  font-family: 'Roobert';
  src: url(/Roobert-Regular.otf);
  font-weight: 100;
}

@font-face {
  font-family: 'Roobert';
  src: url(/Roobert-Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: 'Roobert';
  src: url(/Roobert-SemiBold.otf);
  font-weight: bolder;
}

@font-face {
  font-family: 'Roobert';
  src: url(/Roobert-Bold.otf);
  font-weight: bold;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roobert;
  user-select: none !important;
}
body {
  background-color: #05020d;
}
body {
  overflow-x: hidden;
}
/* width */
body::-webkit-scrollbar {
  width: 4px;
}

/* Track */
/* body::-webkit-scrollbar-track {
  border: 1px solid rgb(217, 217, 217);
} */

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #33313183;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #5b5959;
  cursor: pointer;
}
